<div id="addMemberModalBackdrop" class="org-modal-backdrop" style="display:none;">
  <div class="org-modal">
    <div class="org-modal-header">
      <h2>멤버 초대</h2>
      <button id="closeAddMemberModal" class="org-modal-close-btn"><i class="fa fa-times"></i></button>
    </div>
    <div class="org-modal-body">
      <div class="org-invite-label-row">
        <label style="margin-bottom: 0;">멤버 초대</label>
        <button id="addMemberEmailFieldBtn" class="org-invite-add-btn"><i class="fa fa-plus"></i>추가</button>
      </div>
      <div id="addMemberEmailsWrapper"></div>
      <p class="org-modal-info">초대된 멤버들은 이메일로 초대 링크를 받게 됩니다.</p>
    </div>
    <div class="org-modal-footer">
      <button id="cancelAddMemberModalBtn" class="org-modal-cancel-btn">취소</button>
      <button id="submitAddMemberModalBtn" class="org-modal-submit-btn">초대 보내기</button>
    </div>
  </div>
</div>

