########################################
# 버전 고정 - 필수
########################################
numpy==1.26.4
torch==2.2.2

########################################
# Django Web Framework
########################################
Django>=5.0,<6.0
django-environ
djangorestframework
gunicorn
django-sass-processor
libsass

# 환경변수 관리
python-dotenv

########################################
# Database (PostgreSQL + pgvector)
########################################
sqlalchemy       # 메모리 디비 ORM
psycopg2-binary  # 메모리 디비 연결
pgvector


########################################
# LangGraph + LLM orchestration
########################################
langchain
langchain-core
langchain-community
langchain-openai
tiktoken

langgraph
dateparser # 날짜 파싱 - 리라이트쿼리 tool


########################################
# RAG / Embedding / NLP
########################################
sentence-transformers
transformers
accelerate
scipy
pandas


########################################
# ETL / Crawling / Parsing
########################################
requests
lxml
markdownify
python-dateutil


########################################
# Neo4j (Knowledge Graph)
########################################
neo4j
neo4j-graphrag  # Neo4j TextRetriever
py2neo


########################################
# Simulation tools (optional, utils)
########################################
biopython
PyYAML


########################################
# sLLM / Local inference (vLLM/Ollama)
########################################
openai

########################################
# Jupyter Notebook Support
########################################
jupyter
ipywidgets  # tqdm 진행률 표시용
notebook

########################################
# Testing / Dev Tools
########################################
pytest
black
isort
