API_KEY = "rpa_~~"

########################################
# AWS Deployment (optional)
########################################
# AWS 값은 .env 파일에 입력하지말고 런팟 시크릿에 기재해주시면 됩니다!
AWS_ACCESS_KEY_ID=값
AWS_SECRET_ACCESS_KEY=값
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=skn18-file-uploads
AWS_S3_BASE_PATH=simulations